<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dadishu">

    <application
        android:icon="@drawable/icon"
        android:label="打地鼠"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.FullScreen"


        >
        <activity android:name=".MainActivity"
            android:screenOrientation="landscape"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Login"
            android:screenOrientation="landscape"
            >

        </activity>
        <activity
            android:name=".start_game"
            android:screenOrientation="landscape"
            >

        </activity>

        <activity
            android:name=".game_page"
            android:screenOrientation="landscape"
            >

        </activity>
        <activity
            android:name=".game_page_tishi"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"
            >

        </activity>

    </application>

</manifest>